                    <li class="child">
                        <address>
                          <strong>{Children Name}</strong><br>
                          {Children Street}<br>
                          {Children City}, {Children State Abbreviation} {Children Zipcode}<br>
                          <abbr title="Phone">P:</abbr> {Children Phone}
                        </address>
                    </li>