                    <li class="company">
                        <h4 class="company-name">{Company Name}</h4>
                        <p class="company-information">
                            <span class="company-address">{Company address}, <span class="company-zipcode">{Company Zipcode}</span></span>
                            <br>
                            <span class="company-city">{Company City}</span>
                            <br>
                            <span class="company-telephone">
                                <a href="tel://{Company telephone}">{Company telephone}</a>
                            </span>
                            <br>
                            <span class="company-state">{Company State Abbreviation}</span>
                        </p>
                    </li>