                    <li class="employee">
                        <h3 class="employee-name">{Employee First Name + Employee LastName}</h3>
                        <address class="employee-address">
                          {Employee Street}<br>
                          {Employee City}, {Employee State Abbreviation} {Employee Zipcode}<br>
                          <abbr title="Phone">P:</abbr> {Employee Phone}
                        </address>
                        <p>
                            <span class="employee-email">
                                <a href="mailto:{Employee email}">{Employee email}</a>
                            </span>
                        </p>
                        <!-- insert HTML for employees company here -->
                        <ul class="employee-children">
                            <!-- insert the HTML for the children here -->
                        </ul>
                    </li>