                    <li class="state">
                        <span class="state-id">State Id</span>
                        <span class="state-abbreviation">State abbreviation</span>
                    </li>